docs/_downloads/a1d6d622a680bcde64db8b81ab11a686/ttn-map-flow.json
[{"id":"cfe7341.6b96ac8","type":"mqtt in","z":"4edac56d.0049ec","name":"","topic":"ieni-2019/devices/+/up","qos":"2","broker":"f8750939.19b468","x":180,"y":80,"wires":[["d7172949.bc9a7"]]},{"id":"d7172949.bc9a7","type":"json","z":"4edac56d.0049ec","name":"","property":"payload","action":"","pretty":false,"x":170,"y":220,"wires":[["76058e3e.ee615","70486c3c.af848c"]]},{"id":"76058e3e.ee615","type":"debug","z":"4edac56d.0049ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":140,"wires":[]},{"id":"92159be3.398e58","type":"worldmap","z":"4edac56d.0049ec","name":"","lat":"52.092876","lon":"5.104480","zoom":"11","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":680,"y":220,"wires":[]},{"id":"70486c3c.af848c","type":"function","z":"4edac56d.0049ec","name":"Get-gateway-positions","func":"var gateways = msg.payload.metadata.gateways;\nvar result = []\nfor (var g of gateways) {\n    result.push({payload: {\n                  lat: g.latitude,\n                  lon: g.longitude,\n                  name: g.gtw_id,\n                  rssi: g.rssi,\n                  device: msg.payload.dev_id\n    }});\n}\nresult.push({payload: {\n    command: {lat: gateways[0].latitude,\n              lon: gateways[0].longitude,\n              zoom: 16\n}}});\nreturn [result];","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["85a59580.a06018","92159be3.398e58"]]},{"id":"85a59580.a06018","type":"debug","z":"4edac56d.0049ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":160,"wires":[]},{"id":"f8750939.19b468","type":"mqtt-broker","z":"","name":"TTN-EU-mqtt","broker":"eu.thethings.network","port":"8883","tls":"ee6286cb.030f78","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ee6286cb.030f78","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false}]
